<!DOCTYPE html>
<html>
  <head>
    <title>Aubrey</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src={{url_for('static', filename='js/app.js')}}></script>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
  </head>

  <body>
    <div>
        <div class="topbar">
            <span class="right">
                <a class="info" href="https://github.com/georgeke/aubrey/blob/master/README.md" target="_blank">?</a>
            </span>
            <span class="time">2:03am</span>
            <div class="left">
                <div class="signalbar tier0"></div>
                <div class="signalbar tier1"></div>
                <div class="signalbar tier2"></div>
                <div class="signalbar tier3"></div>
            </spdivan>
        </div>
        <div class="upper">
            <div id="bling"></div>
            <img src={{url_for('static', filename='img/drake.jpg')}}>
            <div id="description">Aubrey</div>
        </div>
        <form onsubmit="app.callTheHotline(this)">
            <input id="question" type="text" placeholder="Enter question..." maxlength="60" autofocus>
            <button type="button" onclick="app.callTheHotline(this)" disabled>Send</button>
        </form>
        <div class="bottombar">
            <div class="circle"></div>
        </div>
    </div>
  </body>
</html>
