<!DOCTYPE html>
<html>
  <head>
    <title>Aubrey</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src={{url_for('static', filename='js/app.js')}}></script>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
  </head>

  <body>
    <div>
        <div class="upper">
            <div id="bling"></div>
            <img src={{url_for('static', filename='img/drake.jpg')}}>
            <div id="description">Drake</div>
        </div>
        <form onsubmit="app.callTheHotline(this)">
            <input id="question" type="text" placeholder="Enter question..." maxlength="60">
            <br>
            <button type="button" onclick="app.callTheHotline(this)">Send</button>
        </form>
    </div>
  </body>
</html>
