html {
    background-color: black;
}

body > div {
    margin: 3%;
}

body * {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 450px;
}

#bling {
    vertical-align: middle;
    width: 90%;
    font-size: 2.4em;
    color: white;
}

#description {
    font-size: 2.2em;
    color: white;
}

#question {
    height: 70px;
    width: 400px;
    font-size: 2em;
    border: none;
}

form > button {
    cursor: pointer;
    color: white;
    margin-top: 0.6em;
    font-size: 2em;
    border-radius: 27%/50%;
    background-color: #279900;
    border:none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

form > button:disabled {
    cursor: auto;
    background-color: gray;
}

img {
    width: 20em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.flashing {
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 2s infinite ease-in-out;
    -webkit-animation:blink normal 2s infinite ease-in-out;
    -ms-animation:blink normal 2s infinite ease-in-out;
    animation:blink normal 2s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
